// =============================================================================
// Base
// =============================================================================

@use "sass:color";
@use "mixins" as m;
@use "variables" as v;

$article-footer-color: v.$gray-light !default;
$article-footer-link-color: v.$gray-dark !default;
$article-footer-link-color-hover: v.$gray-darkest !default;
$article-header-description-color: v.$gray-dark !default;
$article-header-title-color: v.$gray-darkest !default;
$article-paginator-color-hover: v.$gray-darkest !default;
$article-post-titles-color: v.$gray-darkest !default;
$base-accent-color: v.$gray-dark !default;
$base-accent-highlighted-color: color.adjust($base-accent-color, $lightness:-15%) !default;
$base-border-color: v.$gray-lightest !default;
$base-font-color: v.$gray-dark !default;
$body-background: v.$white !default;
$header-logo-color: v.$black !default;
$header-link-color: v.$gray-darker !default;
$header-link-color-hover: v.$gray-darkest !default;

// Document
// =============================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: v.$base-font-size;
}

body {
  margin: 0 auto;
  font-family: v.$base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: v.$base-font-weight;
  line-height: v.$base-line-height;
  color: $base-font-color;
  background: $body-background;
  opacity: 0;
  animation: fadeIn 1s forwards;
  text-align: right !important;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// Typography
// =============================================================================

p {
  margin: 0;
  font-weight: v.$base-font-weight;
}

b,
strong {
  font-weight: v.$base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: v.$base-font-size * 1.6;
  font-weight: 400;
  letter-spacing: -.03em;
  color: $article-header-title-color;
}

h2 {
  font-size: v.$base-font-size * 1.5;
  font-weight: 400;
}

h3 {
  font-size: v.$base-font-size * 1.3;
  font-weight: 500;
}

h4 {
  font-size: v.$base-font-size * 1.1;
  font-weight: 500;
}

h5 {
  font-size: v.$base-font-size * 1.17;
  font-weight: 500;
}

h6 {
  font-size: v.$base-font-size;
}

@include m.breakpoint(small) {
  h1 {
    font-size: v.$base-font-size * 1.5;
  }
  h2 {
    font-size: v.$base-font-size * 1.35;
  }
  h3 {
    font-size: v.$base-font-size * 1.25;
  }
}

a {
  color: $base-accent-color;
  text-decoration: underline;
  transition: color v.$base-transition-speed linear;
  &:hover,
  &:active {
    color: $base-accent-highlighted-color;
  }
  &:focus {
    color: $base-accent-highlighted-color;
    outline: none;
  }
}

svg {
  transition: fill 0.2s linear;
}

ul,
ol {
  padding-left: 40px;
  margin: 0;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $base-accent-highlighted-color;
}

blockquote {
  padding: 0 0 4px 15px;
  margin: 0 0 0 -20px;
  font-family: v.$sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.6;
  color: v.$gray-light;
  border-left: 3px solid v.$gray-dark;
}

// Other
// =============================================================================

hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

img.alignright {
  float: right;
  margin: .5em 0 .5em 1em;
}

img.alignleft {
  float: left;
  margin: .5em 1em .5em 0;
}

.cover-image {
  padding-bottom: 20px;
}

.rtl-text {
  text-align: right;
}

.notfound-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

::selection {
  color: v.$white;
  background-color: v.$gray-darkest;
}