---
---
// =============================================================================
// Dark theme
// =============================================================================

@use "sass:color";
$baseurl: "{{ site.baseurl }}";

// Variables
// =============================================================================

@use "variables" as v;

// Font colors

$base-font-color: v.$gray-lighter;
$base-accent-color: v.$gray-lighter;
$base-accent-highlighted-color: color.adjust($base-accent-color, $lightness:-15%);

// Border color

$base-border-color: v.$gray-darker;

// Page specific colors

$body-background: v.$gray-darkest;
$header-logo-color: v.$white;
$header-link-color: v.$gray-light;
$header-link-color-hover: v.$white;
$article-header-title-color: v.$gray-lightest;
$article-header-description-color: v.$gray;
$article-post-titles-color: v.$gray-lightest;
$article-footer-color: v.$gray-dark;
$article-footer-link-color: v.$gray-light;
$article-footer-link-color-hover: v.$white;
$article-paginator-color-hover: v.$gray-lightest;

// Imports
// =============================================================================

// Vendors

@use "vendor/normalize";

// Settings

@use "mixins";
@use "base" with (
$article-footer-color: v.$gray-dark,
$article-footer-link-color: v.$gray-light,
$article-footer-link-color-hover: v.$white,
$article-header-description-color: v.$gray,
$article-header-title-color: v.$gray-lightest,
$article-paginator-color-hover: v.$gray-lightest,
$article-post-titles-color: v.$gray-lightest,
$base-accent-color: v.$gray-lighter,
$base-accent-highlighted-color: color.adjust($base-accent-color, $lightness:-15%),
$base-border-color: v.$gray-darker,
$base-font-color: v.$gray-lighter,
$body-background: v.$gray-darkest,
$header-logo-color: v.$white,
$header-link-color: v.$gray-light,
$header-link-color-hover: v.$white
);

// Layouts

@use "layouts/footer";
@use "layouts/grid";

// Modules

@use "modules/about";
@use "modules/articles";
@use "modules/embed";
@use "modules/header";
@use "modules/highlights-dark";
@use "modules/scrollappear";
@use "modules/tags";

#search-box {
  background-image: url($baseurl + '/assets/icons/searchicon.png');
}
