---
---
// =============================================================================
// Light theme
// =============================================================================

@use "sass:color";
$baseurl: "{{ site.baseurl }}";

// Variables
// =============================================================================

@use "variables" as v;

// Font colors

$base-font-color: v.$gray-dark;
$base-accent-color: v.$gray-dark;
$base-accent-highlighted-color: color.adjust($base-accent-color, $lightness:-15%);

// Border color

$base-border-color: v.$gray-lightest;

// Page specific colors

$body-background: v.$white;
$header-logo-color: v.$black;
$header-link-color: v.$gray-darker;
$header-link-color-hover: v.$gray-darkest;
$article-header-title-color: v.$gray-darkest;
$article-header-description-color: v.$gray-dark;
$article-post-titles-color: v.$gray-darkest;
$article-footer-color: v.$gray-light;
$article-footer-link-color: v.$gray-dark;
$article-footer-link-color-hover: v.$gray-darkest;
$article-paginator-color-hover: v.$gray-darkest;

// Imports
// =============================================================================

// Vendors

@use "vendor/normalize";

// Settings

@use "mixins";
@use "base";

// Layouts

@use "layouts/footer";
@use "layouts/grid";

// Modules

@use "modules/about";
@use "modules/articles";
@use "modules/embed";
@use "modules/header";
@use "modules/highlights-light";
@use "modules/scrollappear";
@use "modules/tags";

#search-box {
  background-image: url($baseurl + '/assets/icons/searchicon.png');
}
