---
layout: page
---

{{ content }}

<h2>{{ page.list_title | default: "Posts" }}</h2>
<div>
    <ul>
        {% assign page_tag = page.tags | first %}
        {% for post in site.posts %}
        {% if post.tags contains page_tag %}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <b>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </b> - <i>{{ post.date | date: date_format }}</i>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
